*{
	margin: 0px;
	padding: 0px;
}
.menu{
	background-color: #cf0038;
}
a{
	color: #eff089;
}
.container-fluid{
	background-image: url(../img/creamy.jpg);
	background-position: center;	
}
.bg-negro{
	background-color: black;
	opacity: 0.8;
	padding: 10% 0;
}
h1{
	color: white;
	text-align: center;
}
.parrafo1{
	color: white;
	text-align: center;
}

.creamy{
	background-color: #eff089;
	padding: 2px;	
}
h3{
	color:#cf0038;
	text-align: center;
	padding: 8%;
}
.parrafo2{
	color:#cf0038;
	text-align: center;
	padding: 4%;
}
.helado{
	width: 80%;
	padding: 4%;
}
.topping{
	background-color: #cf0038; 
	padding: 150px 0px;
}
h2{
	color: #eff089;
	text-align: center;
}
.parrafo3{
	color: #eff089;
	text-align: center;
}

.iconos{
	background-color: #eff089;
	padding: 150px 0px;
}
.iconitos{
	font-size: 24px;
}
.parrafo4{
	color:#cf0038;
	text-align: center;	
}
.title2{
	color:#cf0038;
	text-align: center;	
	font-size: 20px;
}
footer{
	padding: 20px 0px;
	background-color: #cf0038;
	color: #eff089; 
}


